.staff
    margin-bottom: 147px
    color: #fff
    &__title
        margin-top: 98px
        color: #223344;
        font-weight: 700
        font-size: 40px
        line-height: 49px
        text-align: center
    &__wrapper
        margin-top: 65px
        display: flex
        justify-content: space-between
        .arrow
            cursor: pointer
    &__content
        display: flex
        margin: 0 30px
    &__card
        position: relative
        margin: 0 24px
        width: 255px
        height: 272px
        background-color: #5847BF
        border-radius: 19px
        text-align: center
        &_wrap
            position: absolute
            left: 14px
            bottom: 39px
    &__name
        margin-top: 10px
        font-weight: 600
        font-size: 20px
        line-height: 24px
    &__descr
        margin-top: 10px
        font-weight: 500
        font-size: 17px
        line-height: 21px