.dancer
    color: #fff
    font-weight: 600
    font-size: 24px
    line-height: 29px
    &__content
        display: flex
        justify-content: center
        flex-wrap: wrap
        margin-top: 77px
    &__item
        position: relative
        margin: 15px
        width: 540px
        height: 299px
        cursor: pointer
        transition: 0.4s
        &:hover
            .dancer__arrow
                transform: translateY(0px)
                opacity: 1
        &_last
            position: relative
            margin-top: 15px
            cursor: pointer
            &:hover
                .dancer__arrow
                    transform: translateY(0px)
                    opacity: 1
    &__arrow
        position: absolute
        bottom: 41px
        left: 397px
        transform: translateY(100px)
        opacity: 0
        transition: 0.5s
        &_big
            left: 586px
    &__title
        position: absolute
        bottom: 35px
        left: 35px

.organizator
    width: 1056px
    margin: 0 auto
    min-height: 742px
    margin-bottom: 150px
    &__title
        font-weight: 700
        font-size: 40px
        line-height: 49px
        &_main
            margin: 79px 0
            text-align: center
    &__wrapper
        display: flex
        justify-content: space-between
    &__address
        margin-top: 15px
        font-weight: 600
        font-size: 20px
        line-height: 24px
        text-align: center
        &_mb55
            margin-bottom: 55px
    &__reasons
        margin: auto 0
        nav
            margin-top: 25px
            li
                margin-bottom: 15px
                margin-left: 22px
                font-weight: 600
                font-size: 22px
                line-height: 27px

.trainer
    margin: 155px 0
    margin-left: 50px
    min-height: 660px
    &__title
        font-weight: 700
        font-size: 56px
        line-height: 68px
    &__subtitle
        margin-top: 15px
        font-weight: 600
        font-size: 20px
        line-height: 24px
    &__wrapper
        margin-top: 131px
        margin-right: 200px
        float: right

.block
    color: #223344
    &__content
        display: none
        &_active
            display: block